@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

body { 
    background-color: azure;
}

.quote {
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #e1f8e1;
    text-align: center;
    font-family: New Tegomin;
    color: rebeccapurple;
}

.card-img-top .card>video{
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.card {
    background-color: #fff0f3;
}