@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#quote {
    font-family: Fredoka One;
}

.qin-title {
    font-size: 40px;;
    color: brown;
}

.qin-text {
    font-size: 20px;
    color: darkgreen;
}